<html>
  <head>
    <title>Dayo's Data Visualization Assignment</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
      <h1 align="center">Public Expenditure on education per pupil as a % of GDP per capital level of education</h1>

    <div class="cell">
        <p class="main-text">
            In the bar plots below, what we see is the Public Expenditure on education per pupil as a % of GDP per capital level of education 
            from the years 2010-2019
        </p>
        <!-- {% for i in range(0,9) %} -->
        <img src="{{ url_for('static', filename=f'images/DATA4.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA5.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA6.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA7.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA8.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA9.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA10.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA11.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA12.png') }}" width="70%" >
        <img src="{{ url_for('static', filename=f'images/DATA13.png') }}" width="70%" >
        <!-- STANDARD DEVIATION: {{ context[2010+i][0] }}
        VARIANCE: {{ context[2010+i][1] }}
        RANGE: {{ context[2010+i][2] }} -->
        <!-- {% endfor %} -->


      </div>



      </div>

  </body>
</html>